.profileContainer{
  display: flex;
}

.graphContainer{
  flex-basis: 50%;
}

.sharedListContainer{
  display: flex;
  margin: 5px;
}


.profilePicture{
  border-radius: 50%;
  width: 200px;
  justify-content: center;
  /* margin: auto; */
}