.taskContainer{
  display: flex;
  margin: 10px;
  border-bottom: 1px solid rgb(5, 182, 236);

}

.taskGrade{
  margin: 5px;
}

.taskItem{
  margin: 5px;
}

.taskItemContainer{
  display: flex;
}

.taskItem:hover{
  color: red;
}

.completed{
  text-decoration: line-through;
}

.detailModal{
  max-width: 415px;
}